
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body {
    background-color: #e5e5f7;
    background-image:  radial-gradient(#222559 1.35px, transparent 1.35px), radial-gradient(#222559 1.35px, #e5e5f7 1.35px);
    background-size: 54px 54px;
    background-position: 0 0,27px 27px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.gameBoard , .welcomeBoard{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 20px 100px 20px;
    background-color: #47656bc5;
}


.welcomeBoard > button {
    margin: 20px;
    padding: 20px;
    width: 50%;
    min-width: 200px;
    border: solid 4px #eaeaea;
    box-shadow: 0 0 10px #ff9e16;
    padding: 10px;
    background-color: #ff8a36;
    font-size:xx-large;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
}

.hidden {
    display: none;
}
.player-choice , .computer-choice {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.choice {
    width: 40%;
    height: auto;
    min-width: 40px;
    min-height:40px;
    max-width: 200px;
    max-height: 200px;
    border-style: solid;
    border-width: 10px;
    border-color: azure;
    border-radius: 100%;
    background-color: antiquewhite;
}

#player-scissors{
    transform: rotate(3.142rad);
}

#VS {
    display: flex;
    margin: 20px;
    align-items: center;

    color: #ffffff;
    font-weight: 600;
    font-size: 300%;
}

.focus{
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    gap: 16px;
    background-color: aliceblue;
}

.nav-bar > label {
    width: 200px;
    min-width: 50px;
    border: solid 4px #faebd7;
    box-shadow: 0 0 10px #f09516;
    padding: 10px;
    background-color: #ff8a3656;
    font-size: large;
    font-weight: bold;
    text-align: center;
    color: rgb(12, 37, 53);
}

.nav-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.disabled {
    pointer-events: none;
    opacity: 0.5; 
}